@import "tailwindcss";

@theme {
  --font-sans: 'Helvetica Neue', Arial, sans-serif;
}

body {
  background-color: #020617; /* Slate 950 */
  color: #f8fafc;
  overflow-x: hidden;
  cursor: crosshair; /* Fallback */
}

/* Hide default cursor to show our glowing dot */
@media (pointer: fine) {
  body, a, button {
    cursor: none;
  }
}

/* Base custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #0059ff;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00d4ff;
}
